<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/staff/' %} active {% endif %}"><a href="{{ "/staff/" | absolute_url }}">Our Staff</a></li>
  <li class="{% if page.url contains '/tickets/' %} active {% endif %}"><a href="{{ "/tickets/" | absolute_url }}">Tickets</a></li>
  <li><a href="https://gofund.me/56d017ff">Donate</a></li>
<!--   <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
</ul>

<ul class="icons">
<!--   <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
</ul>
